.well.sidebar-nav
  %h3 Navigation:
  %ul.nav.nav-list
    %li.nav-header
      %i.icon-book{icon_style}
      Editions
    %li= link_to content_tag( :span, "Show all", class: 'label label-info'), editions_path
    -if can? :new, Edition
      %li= link_to content_tag( :span, "New edition", class: 'label label-info'), new_edition_path
    %li.nav-header 
      %i.icon-tag{icon_style}
      Kinds
    %li= link_to content_tag( :span, "Show all", class: 'label label-info'), kinds_path
    -if can? :new , Kind
      %li= link_to content_tag( :span, "New kind", class: 'label label-info'), new_kind_path
    -if can? :index, User
      %li.nav-header
        %i.icon-user{icon_style}
        Users
      %li= link_to content_tag( :span, "Show all", class: 'label label-info'), users_path
      %li= link_to content_tag( :span, "New user", class: 'label label-info'), new_user_path
    -if user_signed_in?
      %li.nav-header 
        %i.icon-cog{icon_style}
        User menu
      %li= link_to content_tag( :span, "Subscriptions", class: 'label label-info'), user_subscriptions_path(current_user)
      %li= link_to content_tag( :span, "Cart", class: 'label label-info'), cart_user_path(current_user)
      %li= link_to content_tag( :span, "Logout", class: 'label label-info'), destroy_user_session_path, method: :delete
    -else
      %li.nav-header 
        %i.icon-question-sign{icon_style}
        Try?
      %li= link_to content_tag( :span, "Register", class: 'label label-info'), new_user_registration_path
      %li= link_to content_tag( :span, "Login", class: 'label label-info'), new_user_session_path
